MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_ROOT_DATABASE=

MONGO_URI=

## resend enviroments
RESEND_API_KEY=
RESEND_API_KEY_PROD
ISSUER_EMAIL=
PATH_VERIFICATION_URL=

## OAuth2 registration
OAUTH2_CLIENT_ID=
OAUTH2_CLIENT_SECRET=
OAUTH2_CLIENT_NAME=
