## postgresql variables
POSTGRES_URI=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# IA Providers

#Entorno de desarrollo
OLLAMA_HOST=http://host.docker.internal:11434
OLLAMA_MODEL=granite3-dense:2b

# Entorno de produccion (modelos en el cloud)
IA_MODEL=
IA_API_KEY=

# resend 
RESEND_API_KEY=
ISSUER_EMAIL=

## microservice identification
RENT_AUTH_HOST=
RENT_FINANCIAL_CLIENT_ID=
RENT_FINANCIAL_CLIENT_SECRET=