### POSTGRES VARIABLES
POSTGRES_URI=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# IA Providers

#Entorno de desarrollo
OLLAMA_HOST=
OLLAMA_MODEL=

# Entorno de produccion (modelos en el cloud)
IA_MODEL=
IA_API_KEY=