### POSTGRES VARIABLES
POSTGRES_URI=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# IA Providers

#Entorno de desarrollo
OLLAMA_HOST=
OLLAMA_MODEL=

# Entorno de produccion (modelos en el cloud)
IA_MODEL=
IA_API_KEY=

# resend
RESEND_API_KEY=
ISSUER_EMAIL=<dominio de empresa donde se enviara el correo>

## microservice identification
RENT_AUTH_HOST=<HOST AUTH MICROSERVICE>
MICROSERVICE_CLIENT_ID=
MICROSERVICE_CLIENT_SECRET=